:root {
        --color-primary: #842dfd;
        --color-primary-dim: #4d02b6;
        --color-primary-dark: #330179;

        --color-link-hover: #710dfd;
        --color-link-active: #5e02de;
}

/* Modest fixes */
pre, code { background-color: #1A1A1A !important; }
h1, h2, h3 { border-bottom: 2px solid #323232 !important; }
pre { overflow-x: hidden !important; }

/* Dark theme */
body {
        background-color: #1fd1f9;
        background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
        color: #BDBDBD !important;
}

body, button { text-shadow: 1px 1px 1px black; }
code { color: #EEE !important; }
pre { border-radius: 16px; }

/* Remove styles and colors from links */
a, a:hover, a:active, a:visited { text-decoration: none; }
a, a:visited {
        color: var(--color-primary) !important;
        border-bottom: 2px solid;
        border-bottom-color: transparent;
        border-radius: 2px;
        transition: color 150ms linear, border-bottom-color 150ms linear;
}
a:hover { color: var(--color-link-hover) !important; border-bottom-color: var(--color-primary-dim); }
a:active { color: var(--color-link-active) !important; }
